<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>七台河市</key>
	<string>2309</string>
	<key>三亚市</key>
	<string>4602</string>
	<key>三明市</key>
	<string>3504</string>
	<key>三门峡市</key>
	<string>4112</string>
	<key>上海市</key>
	<string>3101</string>
	<key>上饶市</key>
	<string>3611</string>
	<key>东莞市</key>
	<string>4419</string>
	<key>东营市</key>
	<string>3705</string>
	<key>中卫市</key>
	<string>6405</string>
	<key>中山市</key>
	<string>4420</string>
	<key>临夏回族自治州</key>
	<string>6229</string>
	<key>临汾市</key>
	<string>1410</string>
	<key>临沂市</key>
	<string>3713</string>
	<key>临沧市</key>
	<string>5309</string>
	<key>丹东市</key>
	<string>2106</string>
	<key>丽水市</key>
	<string>3311</string>
	<key>丽江市</key>
	<string>5307</string>
	<key>乌兰察布市</key>
	<string>1509</string>
	<key>乌兰察布盟</key>
	<string>1526</string>
	<key>乌海市</key>
	<string>1503</string>
	<key>乌鲁木齐市</key>
	<string>6501</string>
	<key>乐山市</key>
	<string>5111</string>
	<key>九江市</key>
	<string>3604</string>
	<key>云浮市</key>
	<string>4453</string>
	<key>亳州市</key>
	<string>3416</string>
	<key>伊春市</key>
	<string>2307</string>
	<key>伊犁哈萨克自治州</key>
	<string>6540</string>
	<key>佛山市</key>
	<string>4406</string>
	<key>佳木斯市</key>
	<string>2308</string>
	<key>保定市</key>
	<string>1306</string>
	<key>保山市</key>
	<string>5305</string>
	<key>信阳市</key>
	<string>4115</string>
	<key>克孜勒苏柯尔克孜自治</key>
	<string>6530</string>
	<key>克拉玛依市</key>
	<string>6502</string>
	<key>六安市</key>
	<string>3415</string>
	<key>六盘水市</key>
	<string>5202</string>
	<key>兰州市</key>
	<string>6201</string>
	<key>兴安盟</key>
	<string>1522</string>
	<key>内江市</key>
	<string>5110</string>
	<key>凉山彝族自治州</key>
	<string>5134</string>
	<key>包头市</key>
	<string>1502</string>
	<key>北京市</key>
	<string>1101</string>
	<key>北海市</key>
	<string>4505</string>
	<key>十堰市</key>
	<string>4203</string>
	<key>南京市</key>
	<string>3201</string>
	<key>南充市</key>
	<string>5113</string>
	<key>南宁市</key>
	<string>4501</string>
	<key>南平市</key>
	<string>3507</string>
	<key>南昌市</key>
	<string>3601</string>
	<key>南通市</key>
	<string>3206</string>
	<key>南阳市</key>
	<string>4113</string>
	<key>博尔塔拉蒙古自治州</key>
	<string>6527</string>
	<key>厦门市</key>
	<string>3502</string>
	<key>双鸭山市</key>
	<string>2305</string>
	<key>台州市</key>
	<string>3310</string>
	<key>合肥市</key>
	<string>3401</string>
	<key>吉安市</key>
	<string>3608</string>
	<key>吉林市</key>
	<string>2202</string>
	<key>吐鲁番地区</key>
	<string>6521</string>
	<key>吕梁市</key>
	<string>1411</string>
	<key>吴忠市</key>
	<string>6403</string>
	<key>周口市</key>
	<string>4116</string>
	<key>呼伦贝尔市</key>
	<string>1507</string>
	<key>呼和浩特市</key>
	<string>1501</string>
	<key>和田地区</key>
	<string>6532</string>
	<key>咸宁市</key>
	<string>4212</string>
	<key>咸阳市</key>
	<string>6104</string>
	<key>哈密地区</key>
	<string>6522</string>
	<key>哈尔滨市</key>
	<string>2301</string>
	<key>唐山市</key>
	<string>1302</string>
	<key>商丘市</key>
	<string>4114</string>
	<key>商洛市</key>
	<string>6110</string>
	<key>喀什地区</key>
	<string>6531</string>
	<key>嘉兴市</key>
	<string>3304</string>
	<key>嘉峪关市</key>
	<string>6202</string>
	<key>四平市</key>
	<string>2203</string>
	<key>固原市</key>
	<string>6404</string>
	<key>塔城地区</key>
	<string>6542</string>
	<key>大兴安岭地区</key>
	<string>2327</string>
	<key>大同市</key>
	<string>1402</string>
	<key>大庆市</key>
	<string>2306</string>
	<key>大理白族自治州</key>
	<string>5329</string>
	<key>大连市</key>
	<string>2102</string>
	<key>天水市</key>
	<string>6205</string>
	<key>天津市</key>
	<string>1201</string>
	<key>太原市</key>
	<string>1401</string>
	<key>威海市</key>
	<string>3710</string>
	<key>娄底市</key>
	<string>4313</string>
	<key>孝感市</key>
	<string>4209</string>
	<key>宁德市</key>
	<string>3509</string>
	<key>宁波市</key>
	<string>3302</string>
	<key>安庆市</key>
	<string>3408</string>
	<key>安康市</key>
	<string>6109</string>
	<key>安阳市</key>
	<string>4105</string>
	<key>安顺市</key>
	<string>5204</string>
	<key>定西市</key>
	<string>6211</string>
	<key>宜宾市</key>
	<string>5115</string>
	<key>宜昌市</key>
	<string>4205</string>
	<key>宜春市</key>
	<string>3609</string>
	<key>宝鸡市</key>
	<string>6103</string>
	<key>宣城市</key>
	<string>3418</string>
	<key>宿州市</key>
	<string>3413</string>
	<key>宿迁市</key>
	<string>3213</string>
	<key>山南地区</key>
	<string>5422</string>
	<key>岳阳市</key>
	<string>4306</string>
	<key>崇左市</key>
	<string>4514</string>
	<key>巢湖市</key>
	<string>3414</string>
	<key>巴中市</key>
	<string>5119</string>
	<key>巴彦淖尔市</key>
	<string>1508</string>
	<key>巴音郭楞蒙古自治州</key>
	<string>6528</string>
	<key>常州市</key>
	<string>3204</string>
	<key>常德市</key>
	<string>4307</string>
	<key>平凉市</key>
	<string>6208</string>
	<key>平顶山市</key>
	<string>4104</string>
	<key>广元市</key>
	<string>5108</string>
	<key>广安市</key>
	<string>5116</string>
	<key>广州市</key>
	<string>4401</string>
	<key>庆阳市</key>
	<string>6210</string>
	<key>廊坊市</key>
	<string>1310</string>
	<key>延安市</key>
	<string>6106</string>
	<key>延边朝鲜族自治州</key>
	<string>2224</string>
	<key>开封市</key>
	<string>4102</string>
	<key>张家口市</key>
	<string>1307</string>
	<key>张家界市</key>
	<string>4308</string>
	<key>张掖市</key>
	<string>6207</string>
	<key>徐州市</key>
	<string>3203</string>
	<key>德宏傣族景颇族自治州</key>
	<string>5331</string>
	<key>德州市</key>
	<string>3714</string>
	<key>德阳市</key>
	<string>5106</string>
	<key>忻州市</key>
	<string>1409</string>
	<key>怀化市</key>
	<string>4312</string>
	<key>怒江傈僳族自治州</key>
	<string>5333</string>
	<key>思茅市</key>
	<string>5308</string>
	<key>恩施土家族苗族自治州</key>
	<string>4228</string>
	<key>惠州市</key>
	<string>4413</string>
	<key>成都市</key>
	<string>5101</string>
	<key>扬州市</key>
	<string>3210</string>
	<key>承德市</key>
	<string>1308</string>
	<key>抚州市</key>
	<string>3610</string>
	<key>抚顺市</key>
	<string>2104</string>
	<key>拉萨市</key>
	<string>5401</string>
	<key>揭阳市</key>
	<string>4452</string>
	<key>攀枝花市</key>
	<string>5104</string>
	<key>文山壮族苗族自治州</key>
	<string>5326</string>
	<key>新乡市</key>
	<string>4107</string>
	<key>新余市</key>
	<string>3605</string>
	<key>无锡市</key>
	<string>3202</string>
	<key>日喀则地区</key>
	<string>5423</string>
	<key>日照市</key>
	<string>3711</string>
	<key>昆明市</key>
	<string>5301</string>
	<key>昌吉回族自治州</key>
	<string>6523</string>
	<key>昌都地区</key>
	<string>5421</string>
	<key>昭通市</key>
	<string>5306</string>
	<key>晋中市</key>
	<string>1407</string>
	<key>晋城市</key>
	<string>1405</string>
	<key>景德镇市</key>
	<string>3602</string>
	<key>曲靖市</key>
	<string>5303</string>
	<key>朔州市</key>
	<string>1406</string>
	<key>朝阳市</key>
	<string>2113</string>
	<key>本溪市</key>
	<string>2105</string>
	<key>来宾市</key>
	<string>4513</string>
	<key>杭州市</key>
	<string>3301</string>
	<key>松原市</key>
	<string>2207</string>
	<key>林芝地区</key>
	<string>5426</string>
	<key>果洛藏族自治州</key>
	<string>6326</string>
	<key>枣庄市</key>
	<string>3704</string>
	<key>柳州市</key>
	<string>4502</string>
	<key>株洲市</key>
	<string>4302</string>
	<key>桂林市</key>
	<string>4503</string>
	<key>梅州市</key>
	<string>4414</string>
	<key>梧州市</key>
	<string>4504</string>
	<key>楚雄彝族自治州</key>
	<string>5323</string>
	<key>榆林市</key>
	<string>6108</string>
	<key>武威市</key>
	<string>6206</string>
	<key>武汉市</key>
	<string>4201</string>
	<key>毕节地区</key>
	<string>5224</string>
	<key>永州市</key>
	<string>4311</string>
	<key>汉中市</key>
	<string>6107</string>
	<key>汕头市</key>
	<string>4405</string>
	<key>汕尾市</key>
	<string>4415</string>
	<key>江门市</key>
	<string>4407</string>
	<key>池州市</key>
	<string>3417</string>
	<key>沈阳市</key>
	<string>2101</string>
	<key>沧州市</key>
	<string>1309</string>
	<key>河池市</key>
	<string>4512</string>
	<key>河源市</key>
	<string>4416</string>
	<key>泉州市</key>
	<string>3505</string>
	<key>泰安市</key>
	<string>3709</string>
	<key>泰州市</key>
	<string>3212</string>
	<key>泸州市</key>
	<string>5105</string>
	<key>洛阳市</key>
	<string>4103</string>
	<key>济南市</key>
	<string>3701</string>
	<key>济宁市</key>
	<string>3708</string>
	<key>海东地区</key>
	<string>6321</string>
	<key>海北藏族自治州</key>
	<string>6322</string>
	<key>海南藏族自治州</key>
	<string>6325</string>
	<key>海口市</key>
	<string>4601</string>
	<key>海西蒙古族藏族自治州</key>
	<string>6328</string>
	<key>淄博市</key>
	<string>3703</string>
	<key>淮北市</key>
	<string>3406</string>
	<key>淮南市</key>
	<string>3404</string>
	<key>淮安市</key>
	<string>3208</string>
	<key>深圳市</key>
	<string>4403</string>
	<key>清远市</key>
	<string>4418</string>
	<key>温州市</key>
	<string>3303</string>
	<key>渭南市</key>
	<string>6105</string>
	<key>湖州市</key>
	<string>3305</string>
	<key>湘潭市</key>
	<string>4303</string>
	<key>湘西土家族苗族自治州</key>
	<string>4331</string>
	<key>湛江市</key>
	<string>4408</string>
	<key>滁州市</key>
	<string>3411</string>
	<key>滨州市</key>
	<string>3716</string>
	<key>漯河市</key>
	<string>4111</string>
	<key>漳州市</key>
	<string>3506</string>
	<key>潍坊市</key>
	<string>3707</string>
	<key>潮州市</key>
	<string>4451</string>
	<key>濮阳市</key>
	<string>4109</string>
	<key>烟台市</key>
	<string>3706</string>
	<key>焦作市</key>
	<string>4108</string>
	<key>牡丹江市</key>
	<string>2310</string>
	<key>玉林市</key>
	<string>4509</string>
	<key>玉树藏族自治州</key>
	<string>6327</string>
	<key>玉溪市</key>
	<string>5304</string>
	<key>珠海市</key>
	<string>4404</string>
	<key>甘南藏族自治州</key>
	<string>6230</string>
	<key>甘孜藏族自治州</key>
	<string>5133</string>
	<key>白城市</key>
	<string>2208</string>
	<key>白山市</key>
	<string>2206</string>
	<key>白银市</key>
	<string>6204</string>
	<key>百色市</key>
	<string>4510</string>
	<key>益阳市</key>
	<string>4309</string>
	<key>盐城市</key>
	<string>3209</string>
	<key>盘锦市</key>
	<string>2111</string>
	<key>省直辖行政单位</key>
	<string>6590</string>
	<key>眉山市</key>
	<string>5114</string>
	<key>石嘴山市</key>
	<string>6402</string>
	<key>石家庄市</key>
	<string>1301</string>
	<key>福州市</key>
	<string>3501</string>
	<key>秦皇岛市</key>
	<string>1303</string>
	<key>红河哈尼族彝族自治州</key>
	<string>5325</string>
	<key>绍兴市</key>
	<string>3306</string>
	<key>绥化市</key>
	<string>2312</string>
	<key>绵阳市</key>
	<string>5107</string>
	<key>聊城市</key>
	<string>3715</string>
	<key>肇庆市</key>
	<string>4412</string>
	<key>自贡市</key>
	<string>5103</string>
	<key>舟山市</key>
	<string>3309</string>
	<key>芜湖市</key>
	<string>3402</string>
	<key>苏州市</key>
	<string>3205</string>
	<key>茂名市</key>
	<string>4409</string>
	<key>荆州市</key>
	<string>4210</string>
	<key>荆门市</key>
	<string>4208</string>
	<key>荷泽市</key>
	<string>3717</string>
	<key>莆田市</key>
	<string>3503</string>
	<key>莱芜市</key>
	<string>3712</string>
	<key>萍乡市</key>
	<string>3603</string>
	<key>营口市</key>
	<string>2108</string>
	<key>葫芦岛市</key>
	<string>2114</string>
	<key>蚌埠市</key>
	<string>3403</string>
	<key>衡水市</key>
	<string>1311</string>
	<key>衡阳市</key>
	<string>4304</string>
	<key>衢州市</key>
	<string>3308</string>
	<key>襄樊市</key>
	<string>4206</string>
	<key>西双版纳傣族自治州</key>
	<string>5328</string>
	<key>西宁市</key>
	<string>6301</string>
	<key>西安市</key>
	<string>6101</string>
	<key>许昌市</key>
	<string>4110</string>
	<key>贵港市</key>
	<string>4508</string>
	<key>贵阳市</key>
	<string>5201</string>
	<key>贺州市</key>
	<string>4511</string>
	<key>资阳市</key>
	<string>5120</string>
	<key>赣州市</key>
	<string>3607</string>
	<key>赤峰市</key>
	<string>1504</string>
	<key>辽源市</key>
	<string>2204</string>
	<key>辽阳市</key>
	<string>2110</string>
	<key>达州市</key>
	<string>5117</string>
	<key>运城市</key>
	<string>1408</string>
	<key>连云港市</key>
	<string>3207</string>
	<key>迪庆藏族自治州</key>
	<string>5334</string>
	<key>通化市</key>
	<string>2205</string>
	<key>通辽市</key>
	<string>1505</string>
	<key>遂宁市</key>
	<string>5109</string>
	<key>遵义市</key>
	<string>5203</string>
	<key>邢台市</key>
	<string>1305</string>
	<key>那曲地区</key>
	<string>5424</string>
	<key>邯郸市</key>
	<string>1304</string>
	<key>邵阳市</key>
	<string>4305</string>
	<key>郑州市</key>
	<string>4101</string>
	<key>郴州市</key>
	<string>4310</string>
	<key>鄂尔多斯市</key>
	<string>1506</string>
	<key>鄂州市</key>
	<string>4207</string>
	<key>酒泉市</key>
	<string>6209</string>
	<key>重庆市</key>
	<string>5001</string>
	<key>金华市</key>
	<string>3307</string>
	<key>金昌市</key>
	<string>6203</string>
	<key>钦州市</key>
	<string>4507</string>
	<key>铁岭市</key>
	<string>2112</string>
	<key>铜仁地区</key>
	<string>5222</string>
	<key>铜川市</key>
	<string>6102</string>
	<key>铜陵市</key>
	<string>3407</string>
	<key>银川市</key>
	<string>6401</string>
	<key>锡林郭勒盟</key>
	<string>1525</string>
	<key>锦州市</key>
	<string>2107</string>
	<key>镇江市</key>
	<string>3211</string>
	<key>长春市</key>
	<string>2201</string>
	<key>长沙市</key>
	<string>4301</string>
	<key>长治市</key>
	<string>1404</string>
	<key>阜新市</key>
	<string>2109</string>
	<key>阜阳市</key>
	<string>3412</string>
	<key>防城港市</key>
	<string>4506</string>
	<key>阳江市</key>
	<string>4417</string>
	<key>阳泉市</key>
	<string>1403</string>
	<key>阿克苏地区</key>
	<string>6529</string>
	<key>阿勒泰地区</key>
	<string>6543</string>
	<key>阿坝藏族羌族自治州</key>
	<string>5132</string>
	<key>阿拉善盟</key>
	<string>1529</string>
	<key>阿里地区</key>
	<string>5425</string>
	<key>陇南市</key>
	<string>6212</string>
	<key>随州市</key>
	<string>4213</string>
	<key>雅安市</key>
	<string>5118</string>
	<key>青岛市</key>
	<string>3702</string>
	<key>鞍山市</key>
	<string>2103</string>
	<key>韶关市</key>
	<string>4402</string>
	<key>马鞍山市</key>
	<string>3405</string>
	<key>驻马店市</key>
	<string>4117</string>
	<key>鸡西市</key>
	<string>2303</string>
	<key>鹤壁市</key>
	<string>4106</string>
	<key>鹤岗市</key>
	<string>2304</string>
	<key>鹰潭市</key>
	<string>3606</string>
	<key>黄冈市</key>
	<string>4211</string>
	<key>黄南藏族自治州</key>
	<string>6323</string>
	<key>黄山市</key>
	<string>3410</string>
	<key>黄石市</key>
	<string>4202</string>
	<key>黑河市</key>
	<string>2311</string>
	<key>黔东南苗族侗族自治州</key>
	<string>5226</string>
	<key>黔南布依族苗族自治州</key>
	<string>5227</string>
	<key>黔西南布依族苗族自治州</key>
	<string>5223</string>
	<key>齐齐哈尔市</key>
	<string>2302</string>
	<key>龙岩市</key>
	<string>3508</string>
</dict>
</plist>
