<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rows</key>
	<array>
		<dict>
			<key>IndCode</key>
			<string>11</string>
			<key>IndName</key>
			<string>计算机软件</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>12</string>
			<key>IndName</key>
			<string>计算机硬件</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>13</string>
			<key>IndName</key>
			<string>计算机服务(系统、数据服务，维修)</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>14</string>
			<key>IndName</key>
			<string>通信/电信/网络设备</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>15</string>
			<key>IndName</key>
			<string>通信/电信运营、增值服务</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>16</string>
			<key>IndName</key>
			<string>互联网/电子商务</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>17</string>
			<key>IndName</key>
			<string>网络游戏</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>18</string>
			<key>IndName</key>
			<string>电子技术/半导体/集成电路</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>19</string>
			<key>IndName</key>
			<string>仪器仪表/工业自动化</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>20</string>
			<key>IndName</key>
			<string>会计/审计</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>21</string>
			<key>IndName</key>
			<string>金融/投资/证券</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>22</string>
			<key>IndName</key>
			<string>银行</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>23</string>
			<key>IndName</key>
			<string>保险</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>24</string>
			<key>IndName</key>
			<string>贸易/进出口</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>25</string>
			<key>IndName</key>
			<string>批发/零售</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>26</string>
			<key>IndName</key>
			<string>快速消费品(食品,饮料,化妆品)</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>27</string>
			<key>IndName</key>
			<string>服装/纺织/皮革</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>28</string>
			<key>IndName</key>
			<string>家具/家电/工艺品/玩具</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>29</string>
			<key>IndName</key>
			<string>办公用品及设备</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>30</string>
			<key>IndName</key>
			<string>机械/设备/重工</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>31</string>
			<key>IndName</key>
			<string>汽车及零配件</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>32</string>
			<key>IndName</key>
			<string>制药/生物工程</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>33</string>
			<key>IndName</key>
			<string>医疗/护理/保健/卫生</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>34</string>
			<key>IndName</key>
			<string>医疗设备/器械</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>35</string>
			<key>IndName</key>
			<string>广告</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>36</string>
			<key>IndName</key>
			<string>公关/市场推广/会展</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>37</string>
			<key>IndName</key>
			<string>影视/媒体/艺术</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>38</string>
			<key>IndName</key>
			<string>文字媒体/出版</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>39</string>
			<key>IndName</key>
			<string>印刷/包装/造纸</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>40</string>
			<key>IndName</key>
			<string>房地产开发</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>41</string>
			<key>IndName</key>
			<string>建筑与工程</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>42</string>
			<key>IndName</key>
			<string>家居/室内设计/装潢</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>43</string>
			<key>IndName</key>
			<string>物业管理/商业中心</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>44</string>
			<key>IndName</key>
			<string>中介服务</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>45</string>
			<key>IndName</key>
			<string>专业服务(咨询，人力资源)</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>46</string>
			<key>IndName</key>
			<string>检测，认证</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>47</string>
			<key>IndName</key>
			<string>法律</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>48</string>
			<key>IndName</key>
			<string>教育/培训</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>49</string>
			<key>IndName</key>
			<string>学术/科研</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>50</string>
			<key>IndName</key>
			<string>餐饮业</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>51</string>
			<key>IndName</key>
			<string>酒店/旅游</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>52</string>
			<key>IndName</key>
			<string>娱乐/休闲/体育</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>53</string>
			<key>IndName</key>
			<string>美容/保健</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>54</string>
			<key>IndName</key>
			<string>生活服务</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>55</string>
			<key>IndName</key>
			<string>交通/运输/物流</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>56</string>
			<key>IndName</key>
			<string>航天/航空</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>57</string>
			<key>IndName</key>
			<string>石油/化工/矿产/地质</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>58</string>
			<key>IndName</key>
			<string>采掘业/冶炼</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>65</string>
			<key>IndName</key>
			<string>电力/水利</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>59</string>
			<key>IndName</key>
			<string>原材料和加工</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>60</string>
			<key>IndName</key>
			<string>政府</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>61</string>
			<key>IndName</key>
			<string>非盈利机构</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>62</string>
			<key>IndName</key>
			<string>环保</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>63</string>
			<key>IndName</key>
			<string>农业/渔业/林业</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>64</string>
			<key>IndName</key>
			<string>多元化业务集团公司</string>
		</dict>
		<dict>
			<key>IndCode</key>
			<string>66</string>
			<key>IndName</key>
			<string>其他行业</string>
		</dict>
	</array>
	<key>total</key>
	<integer>56</integer>
</dict>
</plist>
