<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>IndustryName</key>
		<string>通信/电信/网络设备</string>
		<key>iconImage</key>
		<string>ind_15</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string> 计算机服务(系统、数据服务，维修)</string>
		<key>iconImage</key>
		<string>ind_13</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>通信/电信/网络设备</string>
		<key>iconImage</key>
		<string>ind_15</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>互联网/电子商务</string>
		<key>iconImage</key>
		<string>ind_16</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>网络游戏</string>
		<key>iconImage</key>
		<string>ind_17</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>电子技术/半导体/集成电路</string>
		<key>iconImage</key>
		<string>ind_12</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>仪器仪表/工业自动化</string>
		<key>iconImage</key>
		<string>ind_19</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>会计/审计</string>
		<key>iconImage</key>
		<string>ind_20</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>金融/投资/证券</string>
		<key>iconImage</key>
		<string>ind_21</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>银行,保险</string>
		<key>iconImage</key>
		<string>ind_21</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>快速消费品(食品,饮料,化妆品)</string>
		<key>iconImage</key>
		<string>ind_24</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>服装/纺织/皮革</string>
		<key>iconImage</key>
		<string>ind_27</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>机械/设备/重工</string>
		<key>iconImage</key>
		<string>ind_30</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>汽车及零配件</string>
		<key>iconImage</key>
		<string>ind_31</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>医疗/护理/保健/卫生</string>
		<key>iconImage</key>
		<string>ind_32</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>广告</string>
		<key>iconImage</key>
		<string>ind_35</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>房地产开发</string>
		<key>iconImage</key>
		<string>ind_40</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>建筑与工程</string>
		<key>iconImage</key>
		<string>ind_40</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>家居/室内设计/装潢</string>
		<key>iconImage</key>
		<string>ind_42</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>中介服务</string>
		<key>iconImage</key>
		<string>ind_44</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>贸易/进出口</string>
		<key>iconImage</key>
		<string>ind_24</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>检测，认证</string>
		<key>iconImage</key>
		<string>ind_45</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>法律</string>
		<key>iconImage</key>
		<string>ind_47</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>教育/培训</string>
		<key>iconImage</key>
		<string>ind_48</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>学术/科研</string>
		<key>iconImage</key>
		<string>ind_48</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>餐饮业</string>
		<key>iconImage</key>
		<string>ind_50</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>酒店/旅游</string>
		<key>iconImage</key>
		<string>ind_51</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>娱乐/休闲/体育</string>
		<key>iconImage</key>
		<string>ind_52</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>美容/保健</string>
		<key>iconImage</key>
		<string>ind_53</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>生活服务</string>
		<key>iconImage</key>
		<string>ind_54</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>石油/化工/矿产/地质</string>
		<key>iconImage</key>
		<string>ind_57</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>采掘业/冶炼</string>
		<key>iconImage</key>
		<string>ind_57</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>电力/水利</string>
		<key>iconImage</key>
		<string>ind_65</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>原材料和加工</string>
		<key>iconImage</key>
		<string>ind_59</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>政府</string>
		<key>iconImage</key>
		<string>ind_60</string>
	</dict>
	<dict>
		<key>IndustryName</key>
		<string>计算机硬件,批发/零售</string>
		<key>iconImage</key>
		<string>ind_computer</string>
	</dict>
    <dict>
        <key>IndustryName</key>
        <string>制药/生物工程</string>
        <key>iconImage</key>
        <string>ind_32</string>
    </dict>
    <dict>
        <key>IndustryName</key>
        <string>计算机软件,计算机硬件</string>
        <key>iconImage</key>
        <string>ind_computer</string>
    </dict>
    <dict>
        <key>IndustryName</key>
        <string>计算机软件</string>
        <key>iconImage</key>
        <string>ind_11</string>
    </dict>
    <dict>
        <key>IndustryName</key>
        <string>计算机软件,计算机服务(系统、数据服务，维修)</string>
        <key>iconImage</key>
        <string>ind_13</string>
    </dict>
</array>
</plist>
