<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>11</string>
		<key>rows</key>
		<dict>
			<key>1</key>
			<string>所有</string>
			<key>2</key>
			<string>近一天</string>
			<key>3</key>
			<string>近二天</string>
			<key>4</key>
			<string>近三天</string>
			<key>5</key>
			<string>近一周</string>
			<key>6</key>
			<string>近两周</string>
			<key>7</key>
			<string>近一月</string>
			<key>8</key>
			<string>近二月</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>8</string>
		<key>rows</key>
		<dict>
			<key>1</key>
			<string>中共党员(含预备党员)</string>
			<key>2</key>
			<string>团员</string>
			<key>3</key>
			<string>民主党派</string>
			<key>4</key>
			<string>无党派人士</string>
			<key>5</key>
			<string>群众</string>
			<key>6</key>
			<string>其他</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>6</string>
		<key>rows</key>
		<dict>
			<key>2</key>
			<string>1000-2000/月</string>
			<key>3</key>
			<string>2000-3000/月</string>
			<key>4</key>
			<string>3000-5000/月</string>
			<key>5</key>
			<string>5000-8000/月</string>
			<key>6</key>
			<string>8000-10000/月</string>
			<key>7</key>
			<string>10000以上／月</string>
			<key>8</key>
			<string>面议</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>5</string>
		<key>rows</key>
		<dict>
			<key>1</key>
			<string>全职</string>
			<key>2</key>
			<string>兼职</string>
			<key>3</key>
			<string>实习</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>4</string>
		<key>rows</key>
		<dict>
			<key>0</key>
			<string>不限</string>
			<key>1</key>
			<string>在读学生</string>
			<key>2</key>
			<string>应届毕业生</string>
			<key>3</key>
			<string>1年</string>
			<key>4</key>
			<string>2年</string>
			<key>5</key>
			<string>3-4年</string>
			<key>6</key>
			<string>5-7年</string>
			<key>7</key>
			<string>8-9年</string>
			<key>8</key>
			<string>10年以上</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>3</string>
		<key>rows</key>
		<dict>
			<key>8</key>
			<string>博士</string>
			<key>9</key>
			<string>博士后</string>
			<key>3</key>
			<string>中技</string>
			<key>4</key>
			<string>中专</string>
			<key>5</key>
			<string>大专</string>
			<key>6</key>
			<string>本科</string>
			<key>7</key>
			<string>硕士</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>1</string>
		<key>rows</key>
		<dict>
			<key>0</key>
			<string>不限</string>
			<key>1</key>
			<string>男</string>
			<key>2</key>
			<string>女</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>2</string>
		<key>rows</key>
		<dict>
			<key>1</key>
			<string>已婚</string>
			<key>2</key>
			<string>未婚</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>10</string>
		<key>rows</key>
		<dict>
			<key>1</key>
			<string>一般</string>
			<key>2</key>
			<string>良好</string>
			<key>3</key>
			<string>熟练</string>
			<key>4</key>
			<string>精通</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>9</string>
		<key>rows</key>
		<dict>
			<key>11</key>
			<string>其它</string>
			<key>1</key>
			<string>英语</string>
			<key>2</key>
			<string>日语</string>
			<key>3</key>
			<string>俄语</string>
			<key>4</key>
			<string>法语</string>
			<key>5</key>
			<string>德语</string>
			<key>6</key>
			<string>阿拉伯语</string>
			<key>7</key>
			<string>西班牙语</string>
			<key>8</key>
			<string>葡萄牙语</string>
			<key>9</key>
			<string>意大利语</string>
			<key>10</key>
			<string>韩语／朝鲜语</string>
		</dict>
	</dict>
</array>
</plist>
