<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>请选择</string>
	<string>中共党员(含预备党员)</string>
	<string>团员</string>
	<string>民主党派</string>
	<string>无党派人士</string>
	<string>群众</string>
	<string>其他</string>
</array>
</plist>
