<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userId</key>
		<string>23143</string>
		<key>userName</key>
		<string>小小猪</string>
		<key>date</key>
		<string>2016/8/25 12:23:45</string>
		<key>comment</key>
		<string>194</string>
		<key>iconName</key>
		<string>anon_group_chat_forbid</string>
		<key>title</key>
		<string>面试怯场怎么办?</string>
		<key>answers</key>
		<array>
			<string>管理大神</string>
			<string>张小凡</string>
			<string>王小波</string>
		</array>
	</dict>
	<dict>
		<key>userId</key>
		<string>21345</string>
		<key>userName</key>
		<string>会飞的自由人</string>
		<key>date</key>
		<string>2016/6/5 12:23:45</string>
		<key>comment</key>
		<string>32</string>
		<key>iconName</key>
		<string>buddy_header_icon_newfriend</string>
		<key>title</key>
		<string>什么样的简历能打动企业？</string>
		<key>answers</key>
		<array>
			<string>王小明</string>
			<string>林夕</string>
		</array>
	</dict>
	<dict>
		<key>userId</key>
		<string>12435</string>
		<key>userName</key>
		<string>喵喵</string>
		<key>date</key>
		<string>2016/5/3 12:23:45</string>
		<key>comment</key>
		<string>654</string>
		<key>iconName</key>
		<string>IMG_3988</string>
		<key>title</key>
		<string>去国企应该穿什么样的衣服？</string>
		<key>answers</key>
		<array>
			<string>国企前辈</string>
			<string>轮子哥</string>
		</array>
	</dict>
	<dict>
		<key>userId</key>
		<string>23143</string>
		<key>userName</key>
		<string>飞天小女警</string>
		<key>date</key>
		<string>2016/2/5 12:23:45</string>
		<key>comment</key>
		<string>23</string>
		<key>iconName</key>
		<string>aio_voiceChange_effect_2</string>
		<key>title</key>
		<string>销售应该如何准备？</string>
		<key>answers</key>
		<array/>
	</dict>
	<dict>
		<key>userId</key>
		<string>25431</string>
		<key>userName</key>
		<string>教务处</string>
		<key>date</key>
		<string>2015/12/25 12:23:45</string>
		<key>comment</key>
		<string>1045</string>
		<key>iconName</key>
		<string>anon_group_loading</string>
		<key>title</key>
		<string>同学们中秋想吃什么？</string>
		<key>answers</key>
		<array>
			<string>张老师</string>
			<string>二叉树</string>
			<string>13级信管</string>
			<string>王老师</string>
			<string>张小明</string>
		</array>
	</dict>
	<dict>
		<key>userId</key>
		<string>21365</string>
		<key>userName</key>
		<string>百度人事部</string>
		<key>date</key>
		<string>2015/11/12 12:23:45</string>
		<key>comment</key>
		<string>32</string>
		<key>iconName</key>
		<string>addressbook_list_user</string>
		<key>title</key>
		<string>为什么来应聘的人这么少？</string>
		<key>answers</key>
		<array>
			<string>张春阳</string>
		</array>
	</dict>
	<dict>
		<key>userId</key>
		<string>28342</string>
		<key>userName</key>
		<string>国企</string>
		<key>date</key>
		<string>2015/6/8 12:23:45</string>
		<key>comment</key>
		<string>2365</string>
		<key>iconName</key>
		<string>company_holder</string>
		<key>title</key>
		<string>国企应该何去何从？</string>
		<key>answers</key>
		<array>
			<string>天文爱好者</string>
			<string>程序员</string>
		</array>
	</dict>
	<dict>
		<key>userId</key>
		<string>14325</string>
		<key>userName</key>
		<string>往事如风</string>
		<key>date</key>
		<string>2014/11/23 12:23:45</string>
		<key>comment</key>
		<string>12</string>
		<key>iconName</key>
		<string>anon_group_chat_forbid</string>
		<key>title</key>
		<string>黑客帝国讲了一个什么样的故事？</string>
		<key>answers</key>
		<array>
			<string>管理大神</string>
			<string>张小凡</string>
			<string>王小波</string>
		</array>
	</dict>
</array>
</plist>
