<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>201</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/4/30 15:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>微软中国</string>
		<key>JobName</key>
		<string>软件工程师</string>
		<key>ResumeName</key>
		<string>软件工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2014/5/15 15:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>小米科技</string>
		<key>JobName</key>
		<string>硬件工程师</string>
		<key>ResumeName</key>
		<string>硬件工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/1/15 13:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>百度</string>
		<key>JobName</key>
		<string>web工程师</string>
		<key>ResumeName</key>
		<string>web工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/7/2 11:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>阿里巴巴集团</string>
		<key>JobName</key>
		<string>客服</string>
		<key>ResumeName</key>
		<string>客服</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/8/2 12:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>淘宝网</string>
		<key>JobName</key>
		<string>技术支持</string>
		<key>ResumeName</key>
		<string>技术支持</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/11/22 13:12:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>中国农业银行</string>
		<key>JobName</key>
		<string>精算师</string>
		<key>ResumeName</key>
		<string>精算师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2012/12/22 13:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>中国工商银行</string>
		<key>JobName</key>
		<string>客户服务</string>
		<key>ResumeName</key>
		<string>客服</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/6/18 15:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>中国铁建</string>
		<key>JobName</key>
		<string>土木工程师</string>
		<key>ResumeName</key>
		<string>土木工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/9/13 8:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 13:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>德意志银行</string>
		<key>JobName</key>
		<string>注册会计师</string>
		<key>ResumeName</key>
		<string>会计师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2013/6/18 21:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>国家电网</string>
		<key>JobName</key>
		<string>电气工程师</string>
		<key>ResumeName</key>
		<string>电机工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/3/15 9:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>中国铁路总公司</string>
		<key>JobName</key>
		<string>设备建造师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2014/11/24 10:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>华西医学院</string>
		<key>JobName</key>
		<string>会计</string>
		<key>ResumeName</key>
		<string>会计师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/5/23 18:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>中国铁路总公司</string>
		<key>JobName</key>
		<string>设备建造师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/5/23 11:24:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>中国电信</string>
		<key>JobName</key>
		<string>通信工程师</string>
		<key>ResumeName</key>
		<string>通信工程</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/8/7 12:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>华为</string>
		<key>JobName</key>
		<string>系统测试工程师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/8/6 22:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>中国网通</string>
		<key>JobName</key>
		<string>通信工程师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/8/7 11:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>四季酒店</string>
		<key>JobName</key>
		<string>门童</string>
		<key>ResumeName</key>
		<string>默认</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/8/5 13:34:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>中国移动通讯有限公司</string>
		<key>JobName</key>
		<string>客服专员</string>
		<key>ResumeName</key>
		<string>客服</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2016/5/23 15:28:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>思科</string>
		<key>JobName</key>
		<string>路由器测试工程师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/11/22 3:12:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>中石化</string>
		<key>JobName</key>
		<string>化验师</string>
		<key>ResumeName</key>
		<string>化学工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/11/22 9:45:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>中石油</string>
		<key>JobName</key>
		<string>石油钻探师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/11/22 15:56:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>腾讯控股</string>
		<key>JobName</key>
		<string>客户体验师</string>
		<key>ResumeName</key>
		<string>客服</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/11/22 21:23:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>False</string>
		<key>CompanyName</key>
		<string>万科控股</string>
		<key>JobName</key>
		<string>建筑师</string>
		<key>ResumeName</key>
		<string>职业工程师</string>
	</dict>
	<dict>
		<key>PayAttentionId</key>
		<string>55</string>
		<key>userId</key>
		<string>27157</string>
		<key>CompanyId</key>
		<string>1158</string>
		<key>JobId</key>
		<string>205</string>
		<key>ResumeId</key>
		<string>22477</string>
		<key>ViewDate</key>
		<string>2015/11/22 14:29:23</string>
		<key>CreateDate</key>
		<string>2016/5/23 22:34:23</string>
		<key>IsDelete</key>
		<string>True</string>
		<key>CompanyName</key>
		<string>万达娱乐</string>
		<key>JobName</key>
		<string>客户体验师</string>
		<key>ResumeName</key>
		<string>客服</string>
	</dict>
</array>
</plist>
